.file-upload{
	margin-bottom: 44px;
}
.box-preview-img {width: 130px; height: 73px; border: 1px solid #ccc; margin-right: 5px; margin-top: 3px; visibility: hidden
}
#size-quantity input[type='text'] {
	width: 50px;
	padding: 0px 5px;
}
#size-quantity td{
	padding: 5px;
}