#page-wrapper{
	padding-bottom: 50px !important;
}
.table__info-customer{
	width: 100%;
	margin-bottom: 20px;
}
.table__info-customer td{
	padding: 10px;
}
.td-left{
	width: 15%;
	padding-right: 20px !important;
}
.table__list_item img{
	width: 120px;
	padding: 5px;
}
.text-left{
	text-align: left;
}
.product-title img, .product-title p{
	float: left;
}
.product-title p{
	padding-left: 7px;
}