#page-wrapper{
	padding-bottom: 50px !important;
}
.table__info-customer{
	width: 100%;
	margin-bottom: 20px;
}
.table__info-customer td{
	padding: 10px;
}
.td-left{
	width: 15%;
	padding-right: 20px !important;
}
.table__list_item img{
	width: 120px;
	padding: 5px;
}
.text-left{
	text-align: left;
}
.product-title img, .product-title p{
	float: left;
}
.product-title p{
	padding-left: 7px;
}
.type-report{
	margin: 10px 0;
}
.type-report label{
	margin-left: 15px;
}
#title-filter{
	text-align: center;
	margin: 20px 0;
	color: brown;
}
.type-report span{
	margin-left: 15px;
}
.dropdown-toggle i{
	font-size: 1.2em;
}
.dropdown-medium{
	width: 370px !important;
	height: 250px;
	font-size: 0.95em;
	overflow-y: auto;
}
.text-center{
	text-align: center;
}
.mr-top-10{
	margin-top:10px;
}
.mr-bot-10{
	margin-bottom: 10px;
}
.clear-float{
	clear: both;
}
.text-warning{
	color: rosybrown;
}
.btn-right{
	float: right;
}
.btn-all-read{
	margin: 4px;
	background-color: steelblue;
	color: white;
	font-size: 0.95em;
}
.btn-all-read:hover{
	background-color: white;
	border: 1px solid #0099CC;
}
.noti_badge{
    padding: 5px;
    box-sizing: initial;
    font-size: 0.95em !important;
    text-align: center;
    border-radius: 50%;    
    line-height: 10px;
    box-sizing: content-box;  
	position: absolute;
	top: 3px;
	right: 3px;
	background-color: lightslategrey;
	color: #fff;
}
.noti_exists{
	color: #fff;
	background-color: #fa3e3e;
}
.dropdown-noti_icon{
	position: relative;
}
